APP_NAME=Texchange
APP_ENV=local
APP_KEY=base64:GWvo9frlJ6/FOxSitpHBXUzcrYyd94Q0mOY7BI/Ujvw=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=2022
DB_DATABASE=texchange
DB_USERNAME=postgres
DB_PASSWORD=hung1309
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=texchange
# DB_USERNAME=root
# DB_PASSWORD=13091999

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=3d5cd3e6eea101
MAIL_PASSWORD=97edb5fa604452
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1432681
PUSHER_APP_KEY=1bf1895dca0e9f4afb6a
PUSHER_APP_SECRET=be73032e5dbe20d40ffb
PUSHER_APP_CLUSTER=ap1  

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=XaXeFxNDPDGOQJuNUdN1ePg3J4RBxE3J4WSqJN2sK0tIUClY2Nday5PXV8RH61CC

CLOUDINARY_API_KEY = '141866846121189'
CLOUDINARY_API_SECRET = '_Ki_f2rmsTtAvS3K_docjp5vaZ8'
CLOUDINARY_CLOUD_NAME = 'trhung'

CLOUDINARY_URL=cloudinary://141866846121189:_Ki_f2rmsTtAvS3K_docjp5vaZ8@trhung
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_NOTIFICATION_URL=cloudinary://141866846121189:_Ki_f2rmsTtAvS3K_docjp5vaZ8@trhung

GOOGLE_CLIENT_ID="217349199407-r0efehl3tjiavtkk5b8c035bqj5aer2q.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT="http://localhost:1309/login-google"

RESPONSE_CACHE_ENABLED=false
RESPONSE_CACHE_DRIVER=file

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://127.0.0.1:8000
MEILISEARCH_KEY=masterKey